aiohttp
aiosignal
appnope
argon2-cffi
argon2-cffi-bindings
art==5.9
asttokens
async-timeout
attrs
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
brotlipy
cached-property
certifi==2023.7.22
cffi
charset-normalizer==3.1.0
click
cloudpickle
colorama
colorspacious==1.1.2
comm==0.1.3
contourpy
cryptography
cycler
cytoolz
darkdetect
dask
debugpy==1.6.7
decorator
defusedxml
Deprecated
dipy
EDFlib-Python
eeglabio
entrypoints
executing
fastjsonschema
filelock==3.12.4
flit_core
fonttools
frozenlist
fsspec
future
h5io
h5py
idna
imagecodecs
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
ipycanvas
ipyevents
ipykernel==6.22.0
ipython
ipython-genutils==0.2.0
ipyvtklink
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
llvmlite==0.39.1
locket
loguru
lxml
MarkupSafe
mat73==0.62
matplotlib
matplotlib-inline
mffpy
mistune
mne
mne-qt-browser
mpmath==1.3.0
multidict
munkres==1.1.4
nbclient
nbconvert
nbformat
nest-asyncio
networkx
neurokit2
nibabel
nilearn
notebook
numba
numexpr
numpy==1.24.2
packaging
pandas==2.1.0
pandocfilters
parso
partd
patsy
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
ply==3.11
pooch
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pymatreader
pyobjc-core
pyobjc-framework-Cocoa
PyOpenGL
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyqtgraph
pyrsistent
PySocks
python-dateutil
python-picard
pytz
pyvista
pyvistaqt
PyWavelets
PyYAML
pyzmq
QDarkStyle
QtPy
requests
scikit-image
scikit-learn
scipy==1.10.1
scooby
seaborn
Send2Trash
sip
six
soupsieve
stack-data
statsmodels
sympy==1.12
tables
terminado
threadpoolctl
tifffile
tinycss2
toml
toolz
torch==2.1.0
tornado
tqdm
traitlets
typing_extensions
tzdata==2023.3
unicodedata2
urllib3
vtk==9.2.5
wcwidth
webencodings==0.5.1
widgetsnbextension
wrapt
wslink
xlrd
xmltodict
yarl
zipp
